// ==================
// HEADER & FOOTER
.header,
.footer {
  .logo {
    position: relative;
    height: $header-ht;
    display: flex;
    align-items: center;
    color: $color-1;
    @include transition;
    &.mobile {
      display: none;
      @media #{$mxw-nav} {
        display: block;
        position: absolute;
        top: 10*$px;
        left: 20*$px;
        height: auto;
        display: inline-block;
        img {
          width: 80*$px;
          height: auto;
          @media #{$mxw-md} {
            width: 65*$px;
          }
        }
      }
    }
    .site-name {
      font-family: $font-heading;
      font-family: $font-alt;
      font-size: 32*$px;
      margin: 0 0 0 15*$px;
      @media #{$mxw-lg} {
        font-size: 24*$px;
      }
    }
    img {
      @include transition;
      @include logo-height(70*$px);
    }
    &:hover {
      transform: scale(1.025);
      backface-visibility: hidden;
    }
  }
}

// ==================
// HEADER
.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $page-mxw;
  background-color: #fff;
  border-bottom: 2*$px solid $color-1;
  box-shadow: 0 3*$px 5*$px 0 rgba(#000, 0.15);
  z-index: 999;
}
.header-wrap {
  height: $header-ht;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include transition;
  @media #{$mxw-nav} {
    height: $short-header-ht;
    .logo img {
      @include logo-height(50*$px);
    }
  }
}
.navicon {
  display: none;
  @media #{$mxw-nav} {
    display: block;
    font-size: 40*$px;
    margin-left: 15*$px;
  }
}
.nav {
  ul {
    display: flex;
  }
  li {
    margin-left: 30*$px;
    margin-bottom: 0;
    @media #{$mxw-lg} {
      margin-left: 20*$px;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
  a {
    font-size: 18*$px;
    font-weight: bold;
    color: $color-1-lt;
    @media #{$mxw-lg} {
      font-size: 15*$px;
    }
  }
  .close {
    display: none;
  }
  // .nav
  @media #{$mxw-nav} {
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 2000*$px;
    @include transition;
    &.open {
      top: 0;
      left: 0;
    }
    ul {
      position: absolute;
      right: 0;
      top: 60*$px;
      flex-direction: column;
      margin: 30*$px 30*$px 0;
    }
    li {
      margin-left: 0;
      margin-bottom: 15*$px;
      text-align: right;
    }
    a {
      font-size: 20*$px;
    }
    .close {
      position: absolute;
      top: 0*$px;
      right: 25*$px;
      display: block;
      font-size: 50*$px;
    }
  }
}

// ==================
// FOOTER
.footer {
  border-top: 2*$px solid $color-1;
  padding: 40*$px 0 0;
  .logo-wrap {
    display: flex;
    justify-content: center;
  }
  .logo {
    flex-direction: column;
    margin-bottom: 40*$px;
  }
  .footer-links {
    position: relative;
    background-image: url('../images/bg.png');
    background-color: $gray-5;
    padding: 40*$px 0;
    border-top: 2*$px solid $gray-5;
    border-bottom: 2*$px solid $gray-5;
    *:not(.filter) {
      position: relative;
      z-index: 9;
    }
  }
  .module-wrap {
    @include flex-grid(2, 40*$px);
    @media #{$mxw-lg} {
      @include flex-grid(2, 20*$px);
    }
    @media #{$mxw-md} {
      flex-direction: column;
      max-width: 440px;
      margin: 0 auto;
    }
  }
  .module {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20*$px;
    @include border;
    @include box-shadow;
    overflow: hidden;
    @media #{$mxw-lg} {
      padding: 15*$px;
    }
    @media #{$mxw-md} {
      width: 100%;
      &:first-of-type {
        margin: 0 0 20px;
      }
    }
  }
  .module-item {
    display: flex;
    align-items: center;
    margin-bottom: 20*$px;
    flex-wrap: wrap;
    &:last-of-type {
      margin-bottom: 0;
    }
    * {
      margin-right: 10*$px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      font-weight: bold;
      &:after {
        height: 1*$px;
        bottom: 2*$px;
        background-color: $color-main;
      }
      &:hover {
        color: $color-main;
      }
    }
    @media #{$mxw-lg} {
      p,
      a { font-size: 16*$px; }
    }
    @media #{$mxw-md} {
      p,
      a { font-size: 18*$px; }
    }
    @media #{$mxw-sm} {
      p,
      a { font-size: 16*$px; }
    }
  }
  .copyright {
    padding: 20*$px 0;
    font-size: 14*$px;
    text-align: center;
    img {
      width: 16px;
      margin: 0 6px 0 10px;
    }
  }
  .copy-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    margin: 0;
  }
}
