// ==================
// HEADER & FOOTER
.header,
.footer {
  .logo {
    position: relative;
    height: $header-ht;
    display: flex;
    align-items: center;
    color: $color-1-dk;
    @include transition;
    .site-name {
      font-family: $font-heading;
      font-family: 'Oleo Script';
      font-size: 24*$px;
      margin: 0 0 0 15*$px;
    }
    img {
      @include transition;
      @include logo-height(70*$px);
    }
    &:hover {
      transform: scale(1.025);
    }
  }
}

// ==================
// HEADER
.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $page-mxw;
  background-color: #fff;
  border-bottom: 2*$px solid $color-1;
  box-shadow: 0 3*$px 5*$px 0 rgba(#000, 0.15);
  z-index: 999;
}
.header-wrap {
  height: $header-ht;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include transition;
}
.nav {
  ul {
    display: flex;
  }
  li {
    margin-left: 30*$px;
    margin-bottom: 0;
    &:first-of-type {
      margin-left: 0;
    }
  }
  a {
    font-size: 18*$px;
    font-weight: bold;
    color: $color-1-dk;
  }
}

// ==================
// FOOTER
.footer {
  border-top: 2*$px solid $color-1;
  padding: 40*$px 0 0;
  .logo-wrap {
    display: flex;
    justify-content: center;
  }
  .logo {
    flex-direction: column;
    margin-bottom: 40*$px;
  }
  .footer-links {
    position: relative;
    background-image: url('../images/bg.png');
    background-color: $gray-5;
    padding: 40*$px 0;
    border-top: 2*$px solid $gray-5;
    border-bottom: 2*$px solid $gray-5;
    *:not(.filter) {
      position: relative;
      z-index: 9;
    }
  }
  .module-wrap {
    @include flex-grid(2, 40*$px);
  }
  .module {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20*$px;
    @include border;
    @include box-shadow;
    overflow: hidden;
  }
  .module-item {
    display: flex;
    align-items: center;
    margin-bottom: 20*$px;
    &:last-of-type {
      margin-bottom: 0;
    }
    * {
      margin-right: 10*$px;
      &:last-child {
        margin-right: 0;
      }
    }
    .fas {
      margin-right: 6*$px;
    }
    a {
      font-weight: bold;
      &:after {
        height: 1*$px;
        bottom: 2*$px;
        background-color: $color-main;
      }
      &:hover {
        color: $color-main;
      }
    }
  }
  .copyright {
    padding: 20*$px 0;
    font-size: 14*$px;
    text-align: center;
    .year {
      margin-right: 12*$px;
      padding-right: 12*$px;
      border-right: 1*$px solid $color-main;
    }
  }
  p {
    margin: 0;
  }
}