@mixin transition {
  transition: 0.2s all ease-in-out;
}

@mixin flex-grid($cols, $gutter: 0) {
  display: flex;
  flex-wrap: wrap;
  > * {
    margin-left: 0;
    margin-bottom: 0;
    $item-width: calc((100% / #{$cols}) - #{$gutter} + (#{$gutter} / #{$cols}));
    margin-right: $gutter;
    width: $item-width;
    box-sizing: border-box;
    &:nth-child(n+#{$cols + 1}) {
      margin-top: $gutter;
    }
    &:nth-child(#{$cols}n) {
      margin-right: 0;
    }
  }
}

@mixin logo-height($h) {
  width: $h * 0.768;
  height: $h;
}

@mixin filter($color: #fff, $opacity: 0.3) {
  background-color: rgba($color, $opacity);
}

@mixin box-shadow(
  $offset: 2*$px,
  $blur: 6*$px,
  $color: $gray-20
) {
  box-shadow: $offset $offset $blur $color;
}