main {
  margin-top: $header-ht;
  @media #{$mxw-nav} {
    margin-top: $short-header-ht;
  }
}
.home-page {
  .hero {
    position: relative;
    margin-bottom: 80*$px;
    @media #{$mxw-lg} {
      margin-bottom: 50*$px;
    }
    .img {
      height: 560*$px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      @media #{$mxw-md} {
        height: 460*$px;
      }
    }
    img {
      display: flex;
    }
    .hero-heading {
      position: absolute;
      top: 75%;
      transform: translateY(-50%);
      font-family: $font-alt;
      font-size: 42*$px;
      color: #fff;
      margin: 0;
      padding-right: 20*$px;
      text-shadow: 2*$px 2*$px 2*$px rgba(#000, 0.7);
      z-index: 9;
      @media #{$mxw-lg} {
        font-size: 36*$px;
      }
    }
    .filter {
      background-color: rgba(#fff, 0);
    }
  }
  .home-copy {
    img {
      position: relative;
      top: 2*$px;
      max-width: 20*$px;
    }
  }
  .attention {
    font-weight: 600;
    margin-top: 30*$px;
  }
}

.locations {
  position: relative;
  background-image: url('../images/bg.png');
  margin-top: 80*$px;
  padding: 60*$px 0 80*$px 0;
  border-top: 2*$px solid $gray-5;
  border-bottom: 2*$px solid $gray-5;
  @media #{$mxw-lg} {
    margin-top: 50*$px;
    padding: 40*$px 0 60*$px 0;
  }
  *:not(.filter) {
    position: relative;
    z-index: 9;
  }
  .flex-grid {
    @include flex-grid(2, 80*$px);
    @media #{$mxw-lg} {
      @include flex-grid(2, 30*$px);
    }
    @media #{$mxw-md} {
      @include flex-grid(1, 0*$px);
      .item-1 {
        margin-bottom: 50*$px;
      }
    }
  }
  [class*='heading'] {
    margin-bottom: 40*$px;
  }
  .subheading {
    margin-bottom: 20*$px;
    font-size: 28*$px;
  }
  .map {
    display: flex;
    @include border;
    @include box-shadow;
    .map-wrap {
      position: relative;
      display: flex;
      width: 100%;
      z-index: 9;
    }
    .filter {
      @include filter(#fff, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
  .filter {
    @include filter(#fff, 0.3);
  }
}
.location-image {
  position: relative;
  display: flex;
  .filter {
    @include filter(#fff, 0);
  }
}

.providers-page {
  .scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40*$px;
    font-weight: bold;
    &:after {
      height: 0;
    }
    &:hover {
      color: $gray-60;
      .icon {
        transform: translateY(10px);
      }
    }
    .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
      @include transition;
    }
  }
  .providers-section {
    position: relative;
    background-image: url('../images/bg.png');
    margin: 50*$px 0 0;
    padding: 80*$px 0;
    border-top: 2*$px solid $gray-5;
    @media #{$mxw-lg} {
      margin: 40*$px 0 0;
      padding: 60*$px 0;
    }
  }
  .providers-grid {
    @include flex-grid(3, 40*$px);
    position: relative;
    z-index: 9;
    @media #{$mxw-lg} {
      @include flex-grid(2, 30*$px);
    }
    @media #{$mxw-md} {
      @include flex-grid(2, 20*$px);
    }
    @media #{$mxw-sm} {
      @include flex-grid(1, 0*$px);
    }
  }
  .provider-module {
    padding: 20*$px;
    background-color: #fff;
    @include border;
    @include box-shadow;
    @media #{$mxw-sm} {
      margin-bottom: 30*$px;
    }
    &:hover {
      border-color: $color-1;
      @include box-shadow(0, 0, transparent);
    }
    img {
      border: 1*$px solid $gray-20;
    }
  }
  .provider-name {
    font-size: 24*$px;
    font-weight: bold;
    color: $color-1;
    margin: 10*$px 0 12*$px;
    padding-bottom: 14*$px;
    border-bottom: 1*$px solid $gray-20;
  }
  .provider-creds {
    font-size: 14*$px;
    color: $gray-60;
    margin-left: 8*$px;
  }
  .provider-position {
    font-size: 18*$px;
    font-weight: bold;
    line-height: 1.25;
    font-style: italic;
    color: $color-main;
    margin-bottom: 10*$px;
  }
  .provider-location {
    font-size: 16*$px;
    color: $gray-60;
  }
}

.provider-page {
  .page-heading {
    padding: 35px 0 20px;
  }
  .provider-name {
    margin-right: 4*$px;
  }
  .provider-creds {
    font-size: 22*$px;
    color: $color-1;
  }
  .pronouns-heading,
  .pronouns {
    font-size: 16*$px;
    color: $gray-60;
  }
  .pronouns {
    font-weight: bold;
  }
  .provider-background {
    margin-top: 30*$px;
    .content-wrap {
      display: flex;
      align-items: flex-start;
      @media #{$mxw-md} {
        flex-direction: column;
      }
      * {
        flex-basis: 100%;
      }
    }
    .img-wrap {
      display: flex;
      max-width: 270*$px;
      margin-right: 50*$px;
      border: 1*$px solid $gray-20;
      @media #{$mxw-lg} {
        margin-right: 30*$px;
      }
      @media #{$mxw-md} {
        margin: 0 0 30*$px;
      }
    }
  }
  .provider-info {
    *:not(.filter) {
      position: relative;
      z-index: 9;
    }
    .subheading {
      font-size: 32*$px;
      font-family: $font-alt;
      // font-style: italic;
      color: $color-1;
      margin-bottom: 20*$px;
    }
  }
} // .provider-page

.scheduling-page {
  .flex {
    margin-top: 80*$px;
    @media #{$mxw-lg} {
      margin-top: 60*$px;
    }
    @media #{$mxw-sm} {
      flex-direction: column;
    }
  }
  .item-1 {
    margin-right: 100px;
    @media #{$mxw-xl} {
      margin-right: 70px;
    }
    @media #{$mxw-lg} {
      margin-right: 50px;
    }
    @media #{$mxw-md} {
      margin-right: 30px;
    }
    @media #{$mxw-sm} {
      margin: 0 0 30*$px;
      text-align: center;
      img {
        width: 80%;
        max-width: 150px;
      }
    }
  }
  a {
    &:hover {
      color: $color-main;
    }
  }
}
.scheduling-info {
  padding-top: 30px;
  [class*='mxw'] {
    margin-top: 50*$px;
    @media #{$mxw-lg} {
      margin-top: 20*$px;
    }
  }
  .subheading {
    margin-bottom: 30px;
  }
  .info-section {
    padding-bottom: 30px;
  }
}

.employment-page {
  .position {
    padding-bottom: 80px;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  li {
    margin-bottom: 0;
  }
}

.contact-page {
  .locations {
    background-image: none;
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
  .contact-details {
    margin-top: 0;
    border: none;
    .flex-grid {
      @include flex-grid(2, 80*$px);
      @media #{$mxw-xl} {
        @include flex-grid(2, 50*$px);
      }
      @media #{$mxw-lg} {
        @include flex-grid(2, 30*$px);
      }
      @media #{$mxw-md} {
        flex-direction: column;
        max-width: 440*$px;
        margin: 0 auto;
        .item {
          width: 100%;
        }
      }
      .card {
        flex: 1;
      }
    }
    .item-1 {
      @media #{$mxw-md} {
        margin-bottom: 40*$px;
      }
    }
    .item-2 {
      display: flex;
      flex-direction: column;
      ul {
        margin-bottom: 50px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      li {
        margin-bottom: 5px;
      }
    }
  }
  [class*='heading'] {
    position: relative;
    z-index: 9;
  }
  table {
    width: 100%;
    tr {
      &:last-of-type {
        td {
          border: none;
        }
      }
    }
    td {
      width: 60%;
      padding: 5px 0;
      border-bottom: 1px solid $gray-30;
      &:first-of-type {
        font-weight: bold;
        width: 40%;
      }
    }
  }
}
