main {
  margin-top: $header-ht;
}
.home-page {
  .hero {
    position: relative;
    margin-bottom: 80*$px;
    img {
      display: flex;
    }
    .hero-heading {
      position: absolute;
      top: 75%;
      transform: translateY(-50%);
      font-family: $font-alt;
      font-size: 42*$px;
      color: #fff;
      text-shadow: 2*$px 2*$px 2*$px rgba(#000, 0.7);
      z-index: 9;
    }
    .filter {
      background-color: rgba(#fff, 0);
    }
  }
  .home-copy {
    img {
      position: relative;
      top: 2*$px;
      max-width: 20*$px;
    }
  }
  .attention {
    font-weight: 600;
    margin-top: 30*$px;
  }
  .locations {
    position: relative;
    background-image: url('../images/bg.png');
    margin-top: 80*$px;
    padding: 60*$px 0 80*$px 0;
    border-top: 2*$px solid $gray-5;
    border-bottom: 2*$px solid $gray-5;
    *:not(.filter) {
      position: relative;
      z-index: 9;
    }
    .flex-grid {
      @include flex-grid(2, 80*$px);
    }
    [class*='heading'] {
      margin-bottom: 40*$px;
    }
    .subheading {
      margin-bottom: 20*$px;
      font-size: 28*$px;
    }
    .map {
      display: flex;
      @include border;
      @include box-shadow;
      .map-wrap {
        position: relative;
        display: flex;
        width: 100%;
        z-index: 9;
      }
      .filter {
        @include filter(#fff, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
    }
    .filter {
      @include filter(#fff, 0.3);
    }
  }
  .location-image {
    position: relative;
    display: flex;
    .filter {
      @include filter(#fff, 0);
    }
  }
}

.providers-page {
  .scroll {
    margin-top: 40*$px;
    font-weight: bold;
    &:after {
      height: 0;
    }
    &:hover {
      color: $gray-60;
    }
  }
  .providers-section {
    position: relative;
    background-image: url('../images/bg.png');
    margin: 50*$px 0 0;
    padding: 80*$px 0;
    border-top: 2*$px solid $gray-5;
  }
  .providers-grid {
    @include flex-grid(3, 30*$px);
    position: relative;
    z-index: 9;
  }
  .provider-module {
    padding: 20*$px;
    background-color: #fff;
    @include border;
    @include box-shadow;
    &:after {
      background-color: $gray-30;
    }
    &:hover {
      border-color: $gray-80;
      @include box-shadow(0, 0, transparent);
      &:after {
        background-color: $gray-80;
      }
    }
    img {
      border: 1*$px solid $gray-20;
    }
  }
  .provider-name {
    font-size: 24*$px;
    font-weight: bold;
    color: $color-1;
    margin: 10*$px 0 12*$px;
    padding-bottom: 14*$px;
    border-bottom: 1*$px solid $gray-20;
  }
  .provider-creds {
    font-size: 14*$px;
    color: $gray-60;
    margin-left: 8*$px;
  }
  .provider-position {
    font-size: 18*$px;
    font-weight: bold;
    line-height: 1.25;
    font-style: italic;
    color: $color-main;
    margin-bottom: 10*$px;
  }
  .provider-location {
    font-size: 16*$px;
    color: $gray-60;
  }
}

.provider-page {
  .page-heading {
    padding: 35px 0 20px;
  }
  .provider-creds {
    font-size: 22*$px;
    margin-left: 14*$px;
    color: $color-1;
  }
  .pronouns-heading,
  .pronouns {
    font-size: 16*$px;
    color: $gray-60;
  }
  .pronouns {
    font-weight: bold;
  }
  .provider-background {
    margin-top: 30*$px;
    .content-wrap {
      display: flex;
      align-items: flex-start;
      * {
        flex-basis: 100%;
      }
    }
    .img-wrap {
      display: flex;
      max-width: 270*$px;
      margin-right: 50*$px;
      border: 1*$px solid $gray-20;
    }
  }
  .provider-info {
    position: relative;
    margin-top: 50*$px;
    padding: 70*$px 0;
    background-image: url('../images/bg.png');
    border-top: 2*$px solid $gray-5;
    *:not(.filter) {
      position: relative;
      z-index: 9;
    }
    .info-item {
      border: 2*$px solid $gray-30;
      background-color: #fff;
      padding: 20*$px;
      margin-bottom: 40*$px;
      @include box-shadow;
      &:last-of-type {
        margin-bottom: 0;
      }
      p {
        font-size: 18*$px;
      }
    }
    .subheading {
      font-size: 32*$px;
      font-family: $font-alt;
      // font-style: italic;
      color: $color-1;
      margin-bottom: 20*$px;
    }
  }
} // .provider-page

.scheduling-page {
  a {
    &:hover {
      color: $color-main;
    }
  }
}