main {
  margin-top: $header-ht;
}
.hero {
  position: relative;
  img {
    display: flex;
  }
  .heading {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    font-family: 'Oleo Script';
    // font-weight: bold;
    font-size: 42*$px;
    color: #fff;
    text-shadow: 2*$px 2*$px 2*$px $gray-70;
    z-index: 9;
  }
  .filter-1 {
    background-color: rgba(#fff, 0.3);
  }
}