@import 'variables';
@import 'mixins';
@import 'container';
@import 'fonts';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  margin: 0;
  background-color: $gray-40;
}
#app {
  max-width: $page-mxw;
  margin: 0 auto;
  font-family: $font-body;
  font-size: 20*$px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fff;
  color: $color-main;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @import 'global';
  @import 'page';
  @import 'header-footer';
}
