@import 'variables';
@import 'mixins';
@import 'container';
@import 'fonts';

body {
  margin: 0;
}
#app {
  font-family: $font-body;
  font-size: 16*$px;
  font-weight: normal;
  line-height: 1.5;
  color: $black;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @import 'global';
  @import 'page';
  @import 'header-footer';
}
